@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: asset-url(yannick-pulver-hopX_jpVtRM-unsplash);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

html,
body {
  height: 100%;
  background-color: lightgrey;
}

#page-content {
  flex: 1 0 auto;
  padding-bottom: 100px;
}

#sticky-footer {
  flex-shrink: none;
  position: fixed;
  height: 80px;
  bottom: 0;
  width: 100%;
}

